<link rel="stylesheet" href="/assets/css/carbonBackground.css">
<section id="container" class="carbon">

<!-- Name -->
<div>
  <div>
    <i class="fas fa-user"></i>
  </div>
  <div>
    <p>{{userFirstName}}</p>
    <p>{{userLastName}}</p>
  </div>
</div>

<!-- Number -->
<div>
  <div>
    <i class="fas fa-address-card"></i>
  </div>
  <div>
    <a href="{{userPhone}}">{{userPhone}}</a>
    <p>{{userEmail}}</p>
  </div>
</div>

<div>
  <div>
    <i class="fas fa-briefcase"></i>
  </div>
  <div>
    <p>{{userCompany}}</p>
    <p>{{userRole}}</p>
  </div>
</div>

<div>
  <div>
    <i class="fas fa-clipboard-list"></i>
  </div>
  <div>
     <p><a href="{{userPortfolio}}">View my Portfolio</a></p>
     <p><a href="{{userLinkedIn}}">View my LinkedIn</a></p>
     <p><a href="{{userInstagram}}">View my Instagram</a></p>
  </div>
</div>

</section>

<div id="landscapeMessage">
  <div>
    <p>
    Our professional business QaRds have been crafted for optimal viewing in horizontal viewports.
  </p>
  </div>
  <div>
    <i class="fas fa-undo"></i>
  </div>
</div>