<link rel="stylesheet" href="/assets/css/userPageStyles.css">
<section id="userDisplay">

<header>
  <nav>
      <a href="/" id="logo">Welcome&nbsp;<span id='headingUserName'>{{username}}</span></a>
    <ul>
      <li><a href="/">Home</a></li>
      <span>|</span>
      <li><a id='logOut'>Logout</a></li>
    </ul>
  </nav>
</header>

  <!-- Form Field -->
<form action="javascript:void(0);" id="regForm" method="POST">

<!-- One "tab" for each step in the form: -->
<div class="tab">Name:
  <p><input value="{{firstname}}" id="first_name" name="first_name" placeholder="First name..."></p>
  <p id="first_name_error">*Please add your first name</p>
  <p><input value="{{lastname}}" id="last_name" name="last_name" placeholder="Last name..."></p>
  <p id="last_name_error">*Please add your last name</p>
</div>

<div class="tab">Contact Info:
  <p><input value="{{email}}" id="e_mail" name="e_mail" placeholder="E-mail..." ></p>
  <p id="e_mail_error">*Please add your email</p>
  <p><input value="{{phone}}" id="phone" name="phone" placeholder="Phone..." ></p>
  <p id="phone_error">*Please add your phone number</p>
</div>

<div class="tab">Work Details:
  <p><input value="{{company}}" id="company" name="company" placeholder="Company..."></p>
  <p id="company_error">*Please add your company or school</p>
  <p><input value="{{role}}" id="role" name="role" placeholder="Role..."></p>
  <p id="role_error">*Please add your role</p>
</div>

<div class="tab">Media:
  <p><input value="{{portfolio}}" id="portfolio" name="portfolio" placeholder="Portfolio"></p>
  <p><input value="{{linkedin}}" id="linked_in" name="linked_in" placeholder="LinkedIn"></p>
  <p><input value="{{instagram}}" id="instagram" name="instagram" placeholder="Instagram"></p>
</div>

<p>Select a style:</p>

<div class="radio">
  <label for="styleCarbon">Carbon</label>
  <input type="radio" id="style1" name="userStyle" value="carbon" {{carbonCard}} >
</div>
<div class="radio">
  <label for="style2">Fractal</label>
  <input type="radio" id="style2" name="userStyle" value="fractal" {{fractalCard}}>  
</div>
<div class="radio"> 
  <label for="style4">Geometry</label>
  <input type="radio" id="style3" name="userStyle" value="geometry" {{geometryCard}}>
</div>
<div class="radio">
  <label for="style4">Standard</label>
  <input type="radio" id="style4" name="userStyle" value="standard" {{standardCard}}>
</div>

<div>

<button id="userSubmit" type="submit">Save</button>
<button id="qrGenerate">Generate QR</button>

</form>


</section>


<!-- Modal -->

<div class="modalOverlay hide" id="modalOverlay"></div>
<div class="modal hide" id="modal">
  <button class="close-button" id="close-button">X</button>
  <div class="modal-guts">
    <section id="options">
      <div class="questionBox">
        <iframe width="300" height="300" src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data={{url}}"></iframe>
    </section>
  </div>
</div>

 <!-- Modal End -->

<script>
  const logOut = (e) => {
    fetch( '/logout')
    .then(res=> window.location.href = window.location.origin )
    .catch(err=>console.log(err));
  }

  document.getElementById('logOut').addEventListener('click',logOut);


  document.getElementById('qrGenerate').addEventListener("click", () => {
    document.getElementById("modal").classList.remove("hide");
    document.getElementById("modalOverlay").classList.remove("hide");

    document.getElementById('close-button').addEventListener("click", () => {
      document.getElementById("modal").classList.add("hide");
      document.getElementById("modalOverlay").classList.add("hide");
    });
    
  });

</script>